body#index-bg{
    background-image: url("/images/mod-bg2.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    
}

#content{
    width: 500px;
    height: 550px;
    display:flex;
    margin: 15px;
    box-shadow: 0 14.5px 20.5px 0 #000000;
    background-color: rgba(179, 179, 185, 0.45);
    border-radius: 8% 8% 15% 15% / 8% 8% 15% 15%;

}

div#container{
    justify-content: center;
    display: flex;
    align-items: center;

}

input#logger{
    margin: 20px;
    padding: 5px;
    background-color: rgba(179, 179, 185, 0.696);
    display: flex;

}

#log{
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 120px;
    margin-top: 100px;

}