/* IMPORTS ANIMACIONES Y MAS */

@font-face {
font-family:'Dalelands Uncial';
    src: url('../styles/DalelandsUncial.ttf');
}


@font-face {
    font-family:'First Reign';
        src: url('../styles/FirstReign.otf');
}

@font-face {
    font-family:'Zilap';
        src: url('../styles/Zilap.ttf');
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*estilos */

body#index-bg {
    background-image: url("../images/mod-bg2.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    font-family:'First Reign';
    font-size: 25px;
 }
  

#content{
    width: 500px;
    height: 550px;
    display:flex;
    margin: 15px;
    padding-left:30px;
    box-shadow: 0 14.5px 20.5px 0 #000000;
    background-color: rgba(179, 179, 185, 0.45);
    border-radius: 8% 8% 15% 15% / 8% 8% 15% 15%;

}

div#container{
    justify-content: center;
    display: flex;
    align-items: center;

}

input#logger{
    margin: 30px;
    padding-left: 15px;
    height:30px;
    width: auto;
    background-color: rgba(179, 179, 185, 0.696);
    display: flex;
    
}

.labInput{
    margin-left: 65px;
    padding-left: 5px;

}

.submit{
    background-color: rgba(179, 179, 185, 0.696);
    margin-left:65px;
    padding:10px;
    width:100px;
}

#log{    
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    margin-top: 100px;
    
}

body#intro{
    background: #830202;
    background: -webkit-linear-gradient(0deg, #830202 0%, #c20929 50%, #d77e45 100%);
    background: linear-gradient(0deg, #830202 5%, #c20929 55%, #d77e45 90%);
    background-repeat:no-repeat;
    background-attachment: fixed;
}

#imgIndex{
    margin: 0px;
    height: 510px;
    padding-top: 20px;
    border-radius: 15% 15%; 
    animation: fadeIn 2s; 
    
}

.title{
    font-family: 'Zilap';
    font-size:80px;
    width: 800px;
    display:flex;
    margin: 70px;
    padding-left:50px;
  }